<div>
    <label for="address">
        <input type="text" placeholder="Enter owner Address" name="address" id="address">
    </label>
    <input type="button" value="Submit" id="enter">
    <br>
</div>
<br><br>
<div>
    <input type="text" name="userAddress" placeholder="User Address" id="userAddress"><br>
    <input type="text" name="privateKey" id="privateKey" placeholder="Private Key"><br>
    <input type="text" name="vinNo" id="vinNo" placeholder="Enter VinNo"><br>
    <input type="button" value="Submit" id="addUser"><br>
</div>


<br><br>

<div id="display">

</div>


<script src="/javascripts/script.js"></script>