<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <a style="float:right" href="/sales">Sales</a>
    {{{body}}}
  </body>
  {{!-- <script src="/javascripts/script.js"></script> --}}
</html>
