<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBorrow" />
        <binding name="BasicHttpBinding_IDirector" />
        <binding name="BasicHttpBinding_IGenre" />
        <binding name="BasicHttpBinding_ILanguage" />
        <binding name="BasicHttpBinding_ILogIn" />
        <binding name="BasicHttpBinding_IReserve" />
        <binding name="BasicHttpBinding_ISearch" />
        <binding name="BasicHttpBinding_IUser" />
        <binding name="BasicHttpBinding_IMedia" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53355/Implementation/BorrowImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBorrow"
        contract="BorrowWSReference.IBorrow" name="BasicHttpBinding_IBorrow" />
      <endpoint address="http://localhost:53355/Implementation/DirectorImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirector"
        contract="DirectorWSReference.IDirector" name="BasicHttpBinding_IDirector" />
      <endpoint address="http://localhost:53355/Implementation/GenreImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenre"
        contract="GenreWSReference.IGenre" name="BasicHttpBinding_IGenre" />
      <endpoint address="http://localhost:53355/Implementation/LanguageImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILanguage"
        contract="LanguageWSReference.ILanguage" name="BasicHttpBinding_ILanguage" />
      <endpoint address="http://localhost:53355/Implementation/LogInImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogIn"
        contract="LogInWSReference.ILogIn" name="BasicHttpBinding_ILogIn" />
      <endpoint address="http://localhost:53355/Implementation/ReserveImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReserve"
        contract="ReserveWSReference.IReserve" name="BasicHttpBinding_IReserve" />
      <endpoint address="http://localhost:53355/Implementation/SearchImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearch"
        contract="SearchWSReference.ISearch" name="BasicHttpBinding_ISearch" />
      <endpoint address="http://localhost:53355/Implementation/UserImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser"
        contract="UserWSReference.IUser" name="BasicHttpBinding_IUser" />
      <endpoint address="http://localhost:53355/Implementation/MediaImpl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedia"
        contract="MediaWSReference.IMedia" name="BasicHttpBinding_IMedia" />
    </client>
  </system.serviceModel>
</configuration>
